@model IEnumerable<scusa.surfers.DataAccess.SearchModel>

@{
    ViewBag.Title = "List";
	Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>
	<meta charset="utf-8" />
	<title>@ViewBag.Title - RoundHere</title>
	<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width" />
	<link href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet">
	@Styles.Render("~/Content/css", "~/Content/RoundHere/star-rating.css", "~/Content/RoundHere/style.css")
	@Scripts.Render("~/bundles/modernizr", "~/Scripts/RoundHere/star-rating.js")
</head>




	<div class="container-fluid" style="background-color:#e8e8e8">
        <div class="container container-pad" id="property-listings">
            
            <div class="row">
              <div class="col-md-12">
                <h1>Restaurants Listings</h1>
                <p>Below are top rated restaurants around your locations.</p>
              </div>
            </div>
            
            <div class="row">
                <div class="col-sm-12"> 


					@foreach (var row in Model) {
                    <!-- Begin Listing: TaPlaces-->
                    <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                        <div class="media">
                            <a class="pull-left" href="#" target="_parent">
                            <img alt="image" class="img-responsive" src="http://s3-media2.fl.yelpcdn.com/bphoto/upylz9GIjC2nwkncLSJFpA/l.jpg"></a>

                            <div class="clearfix visible-sm"></div>

                            <div class="media-body fnt-smaller">
                                <a href="#" target="_parent"></a>

                                <h4 class="media-heading">
                                  <a href="/Home/ViewPlace/@row.Id" target="_parent">@row.Name<small class="pull-right">@row.PlaceCategory</small></a></h4>

								
								<input id="input-21e" value="3" type="number" class="rating" min=0 max=5 step=0.5 data-size="xs" >
                                <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                    <li>@row.PhoneNumber</li>

                                    <li style="list-style: none">|</li>

                                    <li>@row.LocationID</li>

                                    
                                </ul>

                                <p class="hidden-xs">@row.Description</p><span class="fnt-smaller fnt-lighter fnt-arial">Courtesy of Yelp</span>
                            </div>
                        </div>
                    </div><!-- End Listing-->
					}
					
                </div><!--End col -->
            </div><!-- End row -->
        </div><!-- End container -->
    </div>
